<div class="waiting_on">
 <div>
   <h2>
     Waiting on
   </h2>
 </div>
<hr>

 <ul>
 <% @deliveries.each do |delivery| %>
   <% if delivery.arrived == false %>
   <li>
     <%= delivery.tracking_number %><br>
     Order no. <%= delivery.order_number %><br>
     <% if delivery.notes != nil %>
       <%= delivery.notes %><br>
     <% end %>
     <form action="/modify_delivery/<%=delivery.id%>" method="post">
      <input type="hidden" name="arrived" value="true">

      <button>Mark as received</button>
    </form>
   </li>
   <% end %>
 <% end %>
 </ul>
</div>


<div class="received">
 <div>
   <h2>
     Received
   </h2>
 </div>
<hr>

 <ul>
 <% @deliveries.each do |delivery| %>
   <% if delivery.arrived %>
   <li>
     <%= delivery.notes %><br>
     Updated <%= time_ago_in_words(delivery.updated_at) %> ago <a href="/delete_delivery/<%=delivery.id%>">Delete</a>
   </li>
   <% end %>
 <% end %>
 </ul>
</div>
