<div>
 <div>
   <h2 class="centered-section">
     All packages
    </h2>
 </div>
<hr>

<div>
    <!--<input type="text" name="order_number" id="order_number" placeholder="Enter Order Number">
    <button type="submit">Search</button>-->

  <form id="delivery-form" action="/modify_delivery" method="post">
    <select name="action" id="action">
      <option value="mark_as_received">Mark as Received</option>
      <option value="delete">Delete</option>
    </select>
    <button type="submit">Submit</button>
    <br>
    <br>

    <table>
      <thead>
        <tr>
          <th><%= check_box_tag 'select_all', 'all', false, id: 'selectAllCheckbox' %></th>
          <th>Tracking Number</th>
          <th>Order ID</th>
          <th>Notes</th>
          <th>Status</th>
          <th>Estimated Delivery Date</th>
        </tr>
      </thead>

      <tbody>
        <% @deliveries.each do |delivery| %>
            <tr>
              <td>
                <%= check_box_tag 'selected_packages[]', delivery.id, false, class: 'package-checkbox' %>
              </td>
              <td><%= delivery.tracking_number %></td>
              <td>#<%= delivery.order_number %></td>
              <td><%= delivery.notes %></td>
                <% if delivery.arrived == false %>
                <td>In transit</td>
                <% elsif delivery.arrived == true %>
               <td>Delivered</td>
                <% end %>

              <td><%= delivery.delivery_date.strftime("%b %d, %Y") %></td>
            </tr>
        <% end %>
      </tbody>
    </table>
  </form>
</div>

<div class="pagination">
  <% if @total_pages > 1 %>
    <span class="pagination-space">Page <%= @current_page %> of <%= @total_pages %></span>

    <% if @current_page > 1 %>
      <%= link_to 'Previous', deliveries_path(page: @current_page - 1), class: 'pagination-link' %>
      <span class="pagination-space"></span> 
    <% end %>

    <% if @current_page < @total_pages %>
      <span class="pagination-space"></span> 
      <%= link_to 'Next', deliveries_path(page: @current_page + 1), class: 'pagination-link' %>
    <% end %>
  <% end %>
</div>

<script>
document.addEventListener("DOMContentLoaded", function() {
    var form = document.getElementById('delivery-form');

    form.onsubmit = function() {
        var action = document.getElementById('action').value;

        if (action === 'mark_as_received') {
            var checkboxes = document.querySelectorAll('.package-checkbox:checked');
            
            checkboxes.forEach(function(checkbox) {
                var deliveryId = checkbox.value;
                console.log("Delivery ID:", deliveryId);
                markAsReceived(deliveryId);
            });

        } else if (action === 'delete') {
            var checkboxes = document.querySelectorAll('.package-checkbox:checked');
            
            checkboxes.forEach(function(checkbox) {
                var deliveryId = checkbox.value;
                console.log("Delivery ID:", deliveryId);
                markAsReceived(deliveryId);
            });

checkboxes.forEach(function(checkbox) {
                var deliveryId = checkbox.value;
                console.log("Delivery ID:", deliveryId);
                deleteDelivery(deliveryId);
            });
            console.log("Performing delete action");
        }

        // Prevent the default form submission
        return false;
    };
});

  function markAsReceived(deliveryId) {
    var form = document.createElement('form');
    form.method = 'POST';
    form.action = '/receive_delivery/' + deliveryId;
    var input = document.createElement('input');
    input.type = 'hidden';
    input.name = 'arrived';
    input.value = true;
    form.appendChild(input);
    document.body.appendChild(form);
    form.submit();
  }


  function deleteDelivery(deliveryId) {
    var form = document.createElement('form');
    form.method = 'POST';
    form.action = '/delete_delivery/' + deliveryId;
    var input = document.createElement('input');
    input.type = 'hidden';
    input.name = 'arrived';
    input.value = true;
    form.appendChild(input);
    document.body.appendChild(form);
    form.submit();
  }

  document.addEventListener('DOMContentLoaded', function() {
    var selectAllCheckbox = document.getElementById('selectAllCheckbox');
    if (selectAllCheckbox) {
      selectAllCheckbox.addEventListener('change', function() {
        var checkboxes = document.querySelectorAll('input.package-checkbox');
        checkboxes.forEach(function(checkbox) {
          checkbox.checked = selectAllCheckbox.checked;
        });
      });
    }
  });
</script>
